# 숫자형 자료형과 문자형자료형
## - 숫자형 : int, float, complex
## - boolean : True, False
## - 군집 자료형 : 문자열(str), 리스트(list), 튜플(tuple), 사전(dict), 집합(set)

### 정수형 : 소수점이 없는 숫자
- 정수형의 기본은 십진수이다.

In [2]:
a=0
print(type(a))
print(a)

<class 'int'>
0

In [4]:
b=-11
print(type(b))
print(b)

<class 'int'>
-11

#### #정수형의 기본은 십진수

In [6]:
a=12345
print(type(a))
print(a)

<class 'int'>
12345

#### # 2진수

In [8]:
# 2진수
b=0b11
print(type(b))
print(b)

<class 'int'>
3

#### #8진수

In [10]:
c=0o12
print(type(c))
print(c)

<class 'int'>
10

#### #16진수

In [12]:
d=0x23
print(type(d))
print(d)

<class 'int'>
35

#### # 내장함수 ( int ) 자료형 변경

In [15]:
a="123"
print(type(a))
print(a)
b=int(a)
print(type(b))
print(b)

<class 'str'>
123
<class 'int'>
123

#### #int 자료형은 범위의 제한이 없다.

In [17]:
a=12333123123121321321321321321321321321321321
print(type(a))
print(a)

<class 'int'>
12333123123121321321321321321321321321321321

#### # 실수형 float

In [20]:
a=0.12
# a=float("0.12")
print(type(a))
print(a)

<class 'float'>
0.12

#### # float 형 지수 표현

In [25]:
b=2e-4 # 2*10의 -4승
print(type(b))
print(b)
c=2e4 # 2*10의 4승
print(type(c))
print(c)

<class 'float'>
0.0002
<class 'float'>
20000.0

#### # 문자열

In [27]:
a='Hello World@!!'
print(type(a))
print(a)

<class 'str'>
Hello World@!!

#### # 숫자를 문자로

In [29]:
c=12345
c=str(c)
print(type(c))
print(c)

<class 'str'>
12345

#### # 이스케이프 문자

In [34]:
a='안녕하세요'
print(a)
d="\'안녕하세요\'"
print(d)
e="안녕하세요 \n 이름은 홍길동 입니다. \n 반갑습니다."
print(e)

안녕하세요
'안녕하세요'
안녕하세요
 이름은 홍길동 입니다.
 반갑습니다.

#### # """"""의 다른 사용법

In [36]:
a="""
안녕하세요 
이름은 홍길동 입니다. 
반갑습니다.
"""
print(a)

안녕하세요
이름은 홍길동 입니다.
반갑습니다.

#### # 사칙 연산

In [38]:
print(5+5)
print(5-5)
print(5*5)
print(5/5)

10
0
25
1.0

#### # // 는 숫자를 나누고 소수점 이하는 제거한다.

In [40]:
print(5/3)
print(5//3)

1.6666666666666667
1

#### # 나머지 연산자

In [42]:
print(5%3)

2

#### # 내장함수 divmod() 
- 두 숫자를 나누어 몫과 나머지를 tuple로 반환하는 함수

In [49]:
print(divmod(5,3))

(1, 2)

#### # 제곱 연산자(**)

In [50]:
print(5**3) # 5의 3승

125

#### # 내장함수 pow()
- 내장함수를 이용한 제곱 연산

In [54]:
print(pow(5,3))

125

#### # 복합대입연산자

In [56]:
a=5
a*=3 # a = a*3
print(a)

15

#### Math 모듈을 사용한 방법

In [60]:
import math
print(math.log10(10))

1.0

#### # Math 모듈을 활용한 제곱근 math.sqrt()

In [62]:
print(math.sqrt(8))

2.8284271247461903

#### # 문자열 연결연산자

In [64]:
print('1'+'1234')

11234

#### # 반복연산자 *

In [66]:
print('H'*3)
print('Hello'*3)
print(3*'Hello')

HHH
HelloHelloHello
HelloHelloHello

#### # 문자열 인덱싱

In [70]:
a='안녕하세요'
print(a)
print(a[0])
print(a[2])
print(a[-1])# 뒤에서 첫번째

안녕하세요
안
하
요

#### # 문자열 인덱싱 범위

In [77]:
a="안녕하세요"
print(a[1:3]) # 1이상 3 미만
print(a[0:5:2]) # 이상:미만:건너뛴다는 소리
print(a[0::2]) # 이상 미만 스템
print(a[::2])
print(a[::])
print(a[2:])

녕하
안하요
안하요
안하요
안녕하세요
하세요

# 미션 1
피할수 없으면 즐겨라 - 로버트 엘리엇<br>
세줄로 표현<br>
두가지 방법으로

In [86]:
a="피할수 없으면 즐겨라 - 로버트 엘리엇"
b="""
피할수
없으면
즐겨라 - 로버트 엘리엇
"""
print(b)
print(a[:3])
print(a[4:7])
print(a[8:11])

피할수
없으면
즐겨라 - 로버트 엘리엇

피할수
없으면
즐겨라

# 미션 2
- 반복연산자를 활용하여
- "105105105105105" 를 표현해라

In [87]:
a="105"
print(a*5)

105105105105105

### 리스트, 튜플, 사전,집합 자료형
#### 리스트 : 대괄호로 지정[]
- 내장함수 list() 를 이용한 리스트 선언

In [89]:
l = list()
print(l,type(l))

[] <class 'list'>

In [94]:
l2=[1,2,3]
print(type(l2))
print(l2)

<class 'list'>
[1, 2, 3]

#### 리스트 인덱싱

In [103]:
l=[1,2,3,4,5,6,7,8,9]
print(l)
print(l[0])
print(l[0:4])
print(l[5])
print(l[1::2])
print(len(l)) # 리스트 길이
print(l[8])
# length 를 이용해서 마지막 숫자 출력
print(l[len(l)-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
[1, 2, 3, 4]
6
[2, 4, 6, 8]
9
9
9

#### 리스트는 값 변경이 가능하다.

In [106]:
l=[1,2,3,4,5,6,7,8,9]
l[0]=90
print(l)
l[5]=60
print(l)

[90, 2, 3, 4, 5, 6, 7, 8, 9]
[90, 2, 3, 4, 5, 60, 7, 8, 9]

#### 리스트 요소의 값을 변경가능<br>다른 자료형이 올수도 있다.

In [108]:
l=[1,2,3,4,5,6,7,8,9]
l[1]=[10,20,30]
l[2]='문자'
print(l)

[1, [10, 20, 30], '문자', 4, 5, 6, 7, 8, 9]

#### 리스트의 여러 활용 함수
- append
- remove
- reverse

In [111]:
l=[1,2,3,4,5]
print(l)
l.append(6)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [115]:
l=['a','b','c','d','e']
print(l)
l.remove('b')
print(l)
l.reverse()
print(l)

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'd', 'e']
['e', 'd', 'c', 'a']

### 튜플(tuple)
- 자료형을 순차적으로 저장하는 집합적 자료형
- 리스트와 비슷하지만 값을 변경할수없다.
- ()로 정의한다.
#### # 함수를 활용한 tuple 선언

In [117]:
t=tuple()
print(type(t))

<class 'tuple'>

#### # () 를 활용한 선언

In [119]:
t=(1,2.3)
print(type(t))
print(t)

<class 'tuple'>
(1, 2.3)

In [122]:
l=[1,2,3]
t=(1,2,3)
print(l,type(l))
print(t,type(t))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [125]:
print(l[0],l[0:2])
print(t[0],t[0:2])
print(l+l)
print(t+t)

1 [1, 2]
1 (1, 2)
[1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3)

### tuple은 변경 불가능하다.<br>상수적인 특징을 가지고 있다.
- 처리속도는 list보다 tuple이 빠르다.

In [126]:
l=[1,2,3]
t=(1,2,3)
print(l,type(l))
print(t,type(t))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

### list 는 값 변경이 가능하다.

In [129]:
l[0]=50
print(l)
t[0]=50
print(t)

[50, 2, 3]

TypeError: 'tuple' object does not support item assignment

### 사전(Dict) 자료형 {} 
- 함수 사용 선언

In [131]:
d=dict()
print(d,type(d))

{} <class 'dict'>

- {} 사용 선언
- # {}사용 선언 키 중복 불가, 값이 중복되면 나중에 넣은 val가 출력

In [137]:
d={
    'a':1,
    'b':2,
    'b':3,
    'b':5,
    'c':3
}
print(d,type(d))

{'a': 1, 'b': 5, 'c': 3} <class 'dict'>

In [143]:
d={
    1:1,
    'a':[1,2,3],
    (1,2):"aaa"
}
print(d)
print(type(d))

# dict 추가 수정
e={
    'a':1,
    'b':2
}
print(e)
# 일부 출력
print(e['a'])
# 내용 추가
e['c']=3
print(e)

{1: 1, 'a': [1, 2, 3], (1, 2): 'aaa'}
<class 'dict'>
{'a': 1, 'b': 2}
1
{'a': 1, 'b': 2, 'c': 3}

####  #dict 없는 키를 참조하려면 오류

In [145]:
d={
    'a':1,
    'b':2
}
print(d['c'])

KeyError: 'c'

### Json, Xml과 유사한 형식으로 빅데이터 분석에 활용된다.

In [147]:
d={
    'a':1,
    'b':2,
    'c':3
}
print(d)

{'a': 1, 'b': 2, 'c': 3}

- key, value, items 출력

In [151]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

### 집합 (set)
- 중복과 순서가 없는 자료형
- 순서가 없기 때문에 인덱싱을 지원하지 않는다.
- {} 로 표현
- 내장함수 set() 을 이용한 표현

In [156]:
# {} 이용 선언
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [157]:
# set 함수 이용한 표현
s=set("Hello")
print(s)

{'H', 'o', 'e', 'l'}

### 교집합 합집합 차집합

In [163]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1)
print(s2)

# 교집합
print(s1&s2)

# 합집합
print(s1|s2)
print(s1.union(s2))

# 차집합
print(s1-s2)
print(s1.difference(s2))

s={1,2,3}
print(s)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3}

#### 값 추가 add()함수 사용 update({})함수 사용

In [174]:
s.add(8)
print(s)
s.update({5})
print(s)
s.update({6,7})
print(s)
# 삭제 remove()
s.remove(5)
print(s)

{1, 2, 3, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [188]:
# 미션 1 
# 자료형의 특징을 이용해 리스트의 중복값 제거
l=[1,1,1,1,2,2,2,2,3,3,3,4,5,5,5,5,6,6,6,7,7,8,5,6]
print(l)
temp=list(set(l))
print(temp,type(temp))
# 미션 2 
# 튜플의 값을 추가 수정 삭제 구현
t={1,2,3,4,5,6,7,8}
t=list(t)
t.append(9)
t=tuple(t)
print(t,type(t))
t=list(t)
t.remove(1)
t=tuple(t)
print(t,type(t))
t=list(t)
t[0]=1
t=tuple(t)
print(t,type(t))

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 8, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>
(2, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>
(1, 3, 4, 5, 6, 7, 8, 9) <class 'tuple'>

### list, tuple dict 자료형 활용
#### # list 안에 리스트(다차원 배열 )

In [193]:
l=[[1,2,3],[4,5,6],[7,8,9]]
print(l)
print(l[0])
print(l[0][1])
print(l[2][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2
7

#### # list insert() 함수 사용해서 특정 index에 값 추가

In [197]:
l=[1,2,3,4,5,6,7,8]
print(l)
# 0번째 인덱스에 10 추가
l.insert(0,10)
print(l)

l.insert(4,'hihi')
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]
[10, 1, 2, 3, 4, 5, 6, 7, 8]
[10, 1, 2, 3, 'hihi', 4, 5, 6, 7, 8]

#### # pop 을 활용한 값 삭제 - 스택 FILO(선입후출 구조)

In [201]:
l=[9,8,7,6,5,4,9]
print(l)
l.pop()
print(l)
l.pop()
print(l)

[9, 8, 7, 6, 5, 4, 9]
[9, 8, 7, 6, 5, 4]
[9, 8, 7, 6, 5]

#### # index로 바로 제거

In [203]:
l.pop(0)
print(l)

[7, 6, 5]

#### # reverse 거꾸로 표현(정렬)

In [206]:
l=[2,3,4,1,2]
print(l)
l.reverse()
print(l)

[2, 3, 4, 1, 2]
[2, 1, 4, 3, 2]

#### # count 함수 활용

In [212]:
l=[1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,7,7,8,5,6]
print(l.count(1))
print(l.count(3))
print(l.count(0)) # 값이 없으면 0이 나옴

4
4
0

## 반복문
#### # 리스트 활용해서 반복문 적용

In [216]:
f=[]
for i in range(5):
    f.append(i)
print(f)

[0, 1, 2, 3, 4]

### 리스트를 큐로 활용
- FIFO (First in First Out)

In [219]:
l=[1,2,3,4,5]
l.append(6)
print(l)

l.pop(0) #큐의 자료형의미로 데이터 pop
print(l)
l.pop(0) #큐의 자료형의미로 데이터 pop
print(l)
l.pop(0) #큐의 자료형의미로 데이터 pop
print(l)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[3, 4, 5, 6]
[4, 5, 6]

### tuple 의 활용

In [221]:
t=()
print(type(t))

<class 'tuple'>

#### # 원소가 하나인 튜플 정의<br># 원소가 하나일떄는 , 를 활용해서 정의한다.

In [224]:
t=(1)
print(t,type(t))
t=(1,)
l.pop(0) # 큐의 자료형 의미로 데이터 pop
print(l)
# 또는
t=1
print(t,type(t))

1 <class 'int'>
[5, 6]
1 <class 'int'>

#### # tuple count 활용

In [229]:
t=(1,2,2,2,2,3,3,4,4,5,5,5,6,4,5,68,79)
print(t.count(2))

4

#### # tuple 의 index 활용

In [232]:
print(t.index(5)) # 5데이터의 index 값 출력
print(t.index(2)) # 중복값의 첫번째 출력

9
1

In [234]:
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

### # 함수(def)를 활용해서 튜플 리턴하기

In [237]:
def test(): #파이썬 함수
    return(1,2)
a,b=test()
print(a)
print(b)

1
2

### 사전(dict) 활용
- 키 벨류로 구성, 키는 중복불가
- 같은 키에 값을 대입하면 기본의 value 가 사라진다.

In [239]:
d={}
d[1]=1
d['a']=2
print(d)
#  결과 출력
print(d['a'])
# 중복된 키는 기존 value 제거
d['a']=100
print(d)

{1: 1, 'a': 2}
2
{1: 1, 'a': 100}

####  #update 활용한 dict 의 병합

In [255]:
dict1={'a':1,'b':2,'c':3}
dict2={'c':1,'d':2,'e':3}
# update 활용
dict1.update(dict2)
print(dict1)
# 키값이 중복일경우 니중에 들어오는 값이 적용됨

{'a': 1, 'b': 2, 'c': 1, 'd': 2, 'e': 3}

#### #dict에서 pop사용

In [256]:
d={'a':1,'b':2,'c':3}
print(d)
d.pop('a')
print(d)
# 전체삭제
d.clear()
print(d)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}
{}

#### # 사전의 복사 copy

In [257]:
d={'a':1,'b':2,'c':3}
a=d.copy() #copy후 
b=d  #대체도가능
print(d)
print(a)
print(b)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

#### # 반복문에서 dict
- value 값 출력

In [241]:
d={'a':1,'b':2,'c':3}
for i in d.values():
    print(i) #val값출력

1
2
3

- item 값 출력

In [244]:
d={'a':1,'b':2,'c':3}
for i in d.items():
    print(i) #item 출력

('a', 1)
('b', 2)
('c', 3)

#### #  in을 활용해서 dict 값의 유무확인

In [254]:
d={'a':1,'b':2,'c':3}
print(d)
# 키값 확인
print('a' in d)
print('k' in d)
# value 값 확인
print(2 in d.values())
print(20 in d.values())

{'a': 1, 'b': 2, 'c': 3}
True
False
True
False

#### # 정렬 Sort , 역정렬

In [263]:
l=[2,5,1,3,6,4,8,7,9]
# 정렬해서 출력
l.sort() # 오름차순
l.sort(reverse=True) # 내림차순
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [261]:
dict1={'a':1,'b':2,'c':3}
dict2={'d':1,'f':2,'c':3}
# 병합
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 1, 'f': 2}